$centerWidth: 1200px;
$centerWidth: 900px;
$bgColor:hsla(0, 0%, 100%, .08);
$contentColor : rgba(31, 31, 31, 0.9);
$primaryColor: #007bff;
// $secondaryColor: #07254a;
// 表单颜色
$textColor: #3e6ea2;
// hover 图标颜色
$hoverColor: #00dbff;